<div class="card">
  <div class="card-header" id="headingThree">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed item__title" 
              type="button" 
              data-toggle="collapse" 
              data-target="#damagetype<%= damage_type.id %>" 
              aria-expanded="false" 
              aria-controls="collapseThree">
        <%= damage_type.name %>
      </button>
    </h5>
  </div>
  <div id="damagetype<%= damage_type.id %>" 
       class="collapse" 
       aria-labelledby="headingThree" 
       data-parent="#accordionExample">
    <div class="card-body">
      <%= damage_type.notes %> <br />
      <% if can_edit? damage_type %>
        <%= link_to "Update", edit_damage_type_path(damage_type), class: "item__link btn btn-outline-secondary btn-sm" %>
      <% end %>
      <% if can_edit? damage_type %>
        <%= link_to "Delete", damage_type_path(damage_type), method: :delete, data: { confirm: "Are you sure?" }, class: "item__link btn btn-outline-secondary btn-sm" %>
      <% end %>
    </div>
  </div>
</div>
