<div class="col-md-6">
  <%= form_for(@weapon_feat, url: yield(:url_path)) do |f| %>
    <div class="form-group">
      <%= render 'shared/error_messages', model: @weapon_feat %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :notes %>
      <%= f.text_area :notes, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit yield(:button_text), class: 'btn btn-primary'%>
    </div>
    
  <% end %>
</div>
