<h1>Contact Me</h1>

<br />

<div>
  Find me on:
  <%= link_to "GitHub", 'https://github.com/KaemonIsland' %>
  <%= link_to "LinkedIn", 'https://www.linkedin.com/in/kaemon-lovendahl-08150564/' %>
  <%= link_to "Twitter", 'https://twitter.com/KaemonIsland' %>
  <%= link_to "My Personal Website", 'http://kaemon-lovendahl.surge.sh/' %>
</div>

<br />

<p>Found a bug? Report it! <%= link_to "Warlock Mind", 'https://github.com/KaemonIsland/warlock-mind-ruby' %></p>
