<% provide(:title, @weapon.name) %>

<h1>
  <%= @weapon.name %>
  <% if @weapon.modifier >= 1 %>
    +<%= @weapon.modifier %>
  <% end %>
</h1>

<% if can_edit? @weapon %>
  <%= link_to "Update", edit_weapon_path(@weapon), class: "item__link btn btn-outline-secondary btn-sm" %>
<% end %>
<% if can_edit? @weapon %>
  <%= link_to "Delete", weapon_path(@weapon), method: :delete, data: { confirm: "Are you sure?" }, class: "item__link btn btn-outline-secondary btn-sm" %>
<% end %>

<% if @weapon.damage_types.any? %>
  <p>Damage Types:</p>
  <ul>
    <% @weapon.weapon_damage_types.each_with_index do |damage_type, index| %>
      <li><%= DamageType.find(damage_type.damage_type_id).name %> <%= link_to "Remove", remove_path(@weapon, 'damage_types', damage_type.id), method: :delete, data: { confirm: "Are you sure?"} if can_edit?(@weapon) %></li>
    <% end %>
  </ul>
<% end %>

<% if @weapon.properties.any? %>
  <p>Properties:</p>
  <ul>
    <% @weapon.weapon_properties.each_with_index do |property, index| %>
      <li><%= Property.find(property.property_id).name %> <%= link_to "Remove", remove_path(@weapon, 'properties', property.id), method: :delete, data: { confirm: "Are you sure?"} if can_edit?(@weapon) %></li>
    <% end %>
  </ul>
<% end %>

<p>Category: <%= split_category(@weapon.category) %></p>
<p>Cost: <%= @weapon.cost_amount %> <%= @weapon.cost_type%></p>
<p>Damage: <%= @weapon.damage_amount %>d<%= @weapon.damage_die %></p>
<p>Weight: <%= pluralize(@weapon.weight, 'lb', 'lbs') %></p>

<% if !@weapon.range_near.nil? || !@weapon.range_far.nil? %>
  <p>Range: 
    (<%= @weapon.range_near %> / <%= @weapon.range_far %>)
  </p>
<% end %>
<% if !@weapon.notes.blank? %>
  <p>notes: <%= @weapon.notes %></p>
<% end %>

<% if @weapon.weapon_feats.any? %>
  <hr />
  <h1>Feats</h1>
<% end %>

<% if can_edit? @weapon %>
  <%= link_to 'New Feat',  new_weapon_weapon_feat_path(@weapon), class: 'btn btn-outline-primary' %>
<% end %>

<% if @weapon.weapon_feats.any? %>
  <% @weapon.weapon_feats.each do |feat| %>
    <h4><%= feat.title %></h4>
    <p><%= feat.notes %></p>
    <% if can_edit? @weapon %>
      <%= link_to "Update", edit_weapon_feat_path(feat, { weapon_id: @weapon.id }), class: "item__link btn btn-outline-secondary btn-sm" %>
      <%= link_to "Delete", weapon_feat_path(feat, { weapon_id: @weapon.id }), method: :delete, data: { confirm: "Are you sure?" }, class: "item__link btn btn-outline-secondary btn-sm" %>
    <% end %>
  <% end %>
<% end %>
