<% provide(:title, @weapon.name) %>

<h1>
  <%= @weapon.name %>
  <% if @weapon.modifier >= 1 %>
    +<%= @weapon.modifier %>
  <% end %>
</h1>

<% if can_edit? @weapon %>
  <%= link_to "Update", edit_weapon_path(@weapon), class: "item__link btn btn-outline-secondary btn-sm" %>
<% end %>
<% if can_edit? @weapon %>
  <%= link_to "Delete", weapon_path(@weapon), method: :delete, data: { confirm: "Are you sure?" }, class: "item__link btn btn-outline-secondary btn-sm" %>
<% end %>

<% if @weapon.damage_types.any? %>
  <p>Damage Type(s):</p>
  <ul>
    <% @weapon.weapon_damage_types.each_with_index do |damage_type, index| %>
      <li><%= @weapon.damage_types[index.to_i].name %> <%= link_to "Remove", remove_path(@weapon, damage_type.id), method: :delete, data: { confirm: "Are you sure?"} if can_edit?(@weapon) %></li>
    <% end %>
  </ul>
<% end %>

<p>Category: <%= split_category(@weapon.category) %></p>
<p>Cost: <%= @weapon.cost_amount %> <%= @weapon.cost_type%></p>
<p>Damage: <%= @weapon.damage_amount %>d<%= @weapon.damage_die %></p>
<p>Weight: <%= pluralize(@weapon.weight, 'lb', 'lbs') %></p>

<% if @weapon.category == "simple_ranged" || @weapon.category == "martial_ranged" %>
  <p>Range: 
    (<%= @weapon.range_near %> / <%= @weapon.range_far %>)
  </p>
<% end %>
<% if !@weapon.description.blank? %>
  <p>Description: <%= @weapon.description %></p>
<% end %>