<div class='col-md-6'>
  <%= form_for(@armor, url: yield(:url_path)) do |f| %>
    <div class="form-group">
      <%= render 'shared/error_messages', model: @armor %>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :category %>
      <%= f.select(:category, options_for_select([
        ["Heavy", "heavy"],
        ["Medium", "medium"],
        ["Light", "light"],
        ["Shield", "shield"]
      ]), {}, class: "form-control") %>
    </div>

    <div class="form-group">
      <%= f.label :armor_class, "AC Provided by Armor" %>
      <%= f.number_field :armor_class, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :armor_class_ability %>
        <%= f.select(:armor_class_ability, options_for_select([
          ["Strength", "strength"],
          ["Dexterity", "dexterity"],
          ["Constitution", "constitution"],
          ["Intellect", "intellect"],
          ["Wisdom", "wisdom"],
          ["Charisma", "charisma"],
          ]), {}, class: "form-control")
        %>
    </div>

    <div class="form-group">
      <%= f.label :armor_class_max, "Max bonus from ability" %>
      <%= f.number_field :armor_class_max, class: 'form-control' %>
    </div>

    <%= f.label :armor_class_modifier, "Or AC Modifier, \"+ 2\"" %>
    <div class="form-group">
      <%= f.text_field :armor_class_modifier %>
    </div>

    <%= f.label :strength_requirement %>
    <div class="form-group">
      <%= f.number_field :strength_requirement %>
    </div>

    <div class="form-group">
      <%= f.label :stealth_disadvantage %>
      <%= f.check_box :strength_requirement %>
    </div>

    <%= f.label :cost_amount, "Cost" %>
    <div class="row">
      <div class="col">
        <%= f.number_field :cost_amount, class: "form-control" %>
      </div>
      <div class="col">
        <%= f.select(:cost_type, options_for_select([
          ["Copper", "cp"],
          ["Silver", "sp"],
          ["Epsilon", "ep"],
          ["Gold", "gp"],
          ["Platinum", "pp"]
        ]), {}, class: "form-control")%>
      </div>
    </div>

    <%= f.label :don %>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <%= f.number_field :don %>
        </div>
        <div class="col">
          <%= f.select(:don_time, options_for_select([
              ["Minute", "minute"],
              ["Hour", "hour"],
              ["Action", "action"],
              ["Bonus Action", "bonus_action"],
              ["Instant", "instant"]
            ]), {}, class: "form-control")
          %>
        </div>
      </div>
    </div>

    <%= f.label :doff %>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <%= f.number_field :doff %>
        </div>
        <div class="col">
          <%= f.select(:doff_time, options_for_select([
              ["Minute", "minute"],
              ["Hour", "hour"],
              ["Action", "action"],
              ["Bonus Action", "bonus_action"],
              ["Instant", "instant"]
            ]), {}, class: "form-control")
          %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :weight, "Weight (lbs)" %>
      <%= f.number_field :weight, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :notes, "Description (Not Required)" %>
      <%= f.text_area :notes, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      <%= link_to "Cancel", user_armors_path(current_user), class: 'btn btn-warning' %>
    </div>

  <% end %>
</div>
